<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>FeedBackServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.manager.FeedBackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerIndexServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.manager.ManagerIndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.manager.ManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerFindAllServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.manager.SellerFindAllServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SellerUpdateStatusServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.manager.SellerUpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopDetailServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.manager.ShopDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShopFindServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.manager.ShopFindServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserChangeStatusServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.manager.UserChangeStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFindServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.manager.UserFindServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AddDishServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.AddDishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShopServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.AddShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeAccountInfoServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.ChangeAccountInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDishInfoServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.ChangeDishInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDishServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.DeleteDishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetApplyShopListServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.GetApplyShopListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDishDetailServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.GetDishDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShopDetailServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.GetShopDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetShopListServlet</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.GetShopListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAndLogout</servlet-name>
        <servlet-class>com.huadee.bookfood.servlet.back.seller.LoginAndLogout</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>FeedBackServlet</servlet-name>
        <url-pattern>/back/manager/feedback/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerIndexServlet</servlet-name>
        <url-pattern>/back/manager/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/back/manager/manager/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerFindAllServlet</servlet-name>
        <url-pattern>/back/manager/seller/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SellerUpdateStatusServlet</servlet-name>
        <url-pattern>/back/manager/seller/update/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShopDetailServlet</servlet-name>
        <url-pattern>/back/manager/shop/detail</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ShopFindServlet</servlet-name>
        <url-pattern>/back/manager/shop/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserChangeStatusServlet</servlet-name>
        <url-pattern>/back/manager/user/update/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFindServlet</servlet-name>
        <url-pattern>/back/manager/user/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDishServlet</servlet-name>
        <url-pattern>/back/seller/dish/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShopServlet</servlet-name>
        <url-pattern>/back/seller/shop/apply/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeAccountInfoServlet</servlet-name>
        <url-pattern>/back/seller/account/modify/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDishInfoServlet</servlet-name>
        <url-pattern>/back/seller/dish/modify/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDishServlet</servlet-name>
        <url-pattern>/back/seller/dish/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApplyShopListServlet</servlet-name>
        <url-pattern>/back/seller/shop/apply</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDishDetailServlet</servlet-name>
        <url-pattern>/back/seller/dish/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShopDetailServlet</servlet-name>
        <url-pattern>/back/seller/shop/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetShopListServlet</servlet-name>
        <url-pattern>/back/seller/shop/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAndLogout</servlet-name>
        <url-pattern>/back/seller/inout/*</url-pattern>
    </servlet-mapping>


    <jsp-config>
        <taglib>
            <taglib-uri>http://www.bookfood.cn/c</taglib-uri>
            <taglib-location>/WEB-INF/c.tld</taglib-location>
        </taglib>
    </jsp-config>

    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.huadee.bookfood.filter.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>